.chat-message{
    display: flex;
    margin: 15px 30px 15px 30px;
    flex-direction: column;
    position: relative;
    width: 250px;
    max-width: 400px;
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 10px;
    height: 40px;

}
.chat-message-text{
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    color: white;
   
}
.chat-message-date{
    font-size: 11px;
    color: white;
    font-weight: normal;
    align-self: flex-end;
    position: absolute;
    bottom: 1px;
    
}